In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/train.csv')
df2 = pd.read_csv('data/test.csv')

In [12]:
sample_user_ids = df1.user_id.unique()[:20].tolist()
use_col = ['user_id','media_id','is_listened','ts_listen']

df1[use_col].query(f'user_id=={sample_user_ids}').to_csv('data/sample_train.csv', index=False)

,sample_id,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,artist_id,user_age
user_id,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19913,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19914,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19915,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19916,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19917,1,1,1,1,1,1,1,1,1,1,1,1,1,1