In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/train.csv')
df2 = pd.read_csv('data/test.csv')

In [3]:
sample_user_ids = df1.user_id.unique()[:20].tolist()
use_col = ['user_id','media_id','is_listened','ts_listen']

df1[use_col].query(f'user_id=={sample_user_ids}')#.to_csv('data/sample_train.csv', index=False)

         user_id   media_id  is_listened   ts_listen
0           9241     222606            0  1480597215
1          16547     250467            1  1480544735
2           7665     305197            1  1479563953
3           1580     900502            0  1480152098
4           1812     542335            1  1478368974
...          ...        ...          ...         ...
7558134      551  135563248            1  1478537435
7558339       51  136334560            1  1480327937
7558434     1089  136334560            1  1480179667
7558539     7599  136334560            1  1479581135
7558648       65  136334560            1  1480206381

[23197 rows x 4 columns]

In [5]:
df2.groupby('user_id').count()

,sample_id,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,artist_id,user_age
user_id,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19913,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19914,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19915,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19916,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19917,1,1,1,1,1,1,1,1,1,1,1,1,1,1